.btn {
  $btn-bg: var(--btn-bg);
  $btn-bg-hover: var(--btn-bg-hover);
  $btn-bg-focused: var(--btn-bg-focused);
  $btn-bg-pressed: var(--btn-bg-pressed);
  $btn-bg-disabled: var(--btn-bg-disabled);
  $btn-txt: var(--btn-txt);
  $btn-txt-hover: var(--btn-txt-hover);
  $btn-txt-focused: var(--btn-txt-focused);
  $btn-txt-pressed: var(--btn-txt-pressed);
  $btn-txt-disabled: var(--btn-txt-disabled);

  width: fit-content;
  padding: 0.625rem 1.5rem;
  transition: background-color 150ms ease-out, box-shadow 150ms ease-out,
    color 150ms ease-out;
  border-radius: 0.5rem;
  background-color: $btn-bg;
  color: $btn-txt;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center;

  &:hover {
    background-color: $btn-bg-hover;
    color: $btn-txt-hover;
  }

  &:focus {
    background-color: $btn-bg-focused;
    color: $btn-txt-focused;
  }

  &:active {
    background-color: $btn-bg-pressed;
    color: $btn-txt-pressed;
  }

  &.disabled {
    background-color: $btn-bg-disabled;
    color: $btn-txt-disabled;
  }
}

@media (prefers-color-scheme: dark) {
  .btn {
    &:hover {
      box-shadow: 0 1px 3px 1px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 30%);
    }
  }
}

@media (prefers-color-scheme: light) {
  .btn {
    &:hover {
      box-shadow: 0 1px 2px rgb(0 0 0 / 30%), 0 1px 3px 1px rgb(0 0 0 / 15%);
    }
  }
}
