/* stylelint-disable selector-class-pattern */

@use "base";
@use "./component/btn";
@import "./theme.dark.css" (prefers-color-scheme: dark);
@import "./theme.light.css" (prefers-color-scheme: light);

header {
  .wrapper {
    padding: 4rem 2rem;
    text-align: center;
  }
}

main {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: stretch;
    width: fit-content;
    gap: 1.5rem;
  }

  .subject::after {
    content: "교수님";
  }
}
