@charset "UTF-8";
/* stylelint-disable selector-class-pattern */
@import "./theme.dark.css" (prefers-color-scheme: dark);
@import "./theme.light.css" (prefers-color-scheme: light);
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: var(--bg);
  color: var(--txt);
  font-family: system-ui;
  font-size: 1.125rem;
}

a {
  color: var(--txt-primary);
  text-decoration: none;
}
a:link {
  color: var(--txt-primary);
}
a:visited {
  color: var(--txt-tertiary);
}
a:hover {
  color: var(--txt-primary);
}
a:focus {
  color: var(--txt-primary);
}
a:active {
  color: var(--txt-primary);
}

iframe,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 87.5rem;
  margin-inline: auto;
}

.btn {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.625rem 1.5rem;
  transition: background-color 150ms ease-out, box-shadow 150ms ease-out, color 150ms ease-out;
  border-radius: 0.5rem;
  background-color: var(--btn-filled-bg);
  color: var(--btn-filled-txt);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center;
}
.btn:hover {
  background-color: var(--btn-filled-bg-hover);
  color: var(--btn-filled-txt);
}
.btn:focus {
  background-color: var(--btn-filled-bg-focused);
  color: var(--btn-filled-txt);
}
.btn:active {
  background-color: var(--btn-filled-bg-pressed);
  color: var(--btn-filled-txt);
}
.btn.disabled {
  background-color: var(--btn-filled-bg-disabled);
  color: var(--btn-filled-txt-disabled);
}
.btn--width-stretch {
  width: 100%;
}
.btn--type-tonal {
  background-color: var(--btn-tonal-bg);
  color: var(--btn-tonal-txt);
}
.btn--type-tonal:hover {
  background-color: var(--btn-tonal-bg-hover);
  color: var(--btn-tonal-txt);
}
.btn--type-tonal:focus {
  background-color: var(--btn-tonal-bg-focused);
  color: var(--btn-tonal-txt);
}
.btn--type-tonal:active {
  background-color: var(--btn-tonal-bg-pressed);
  color: var(--btn-tonal-txt);
}
.btn--type-tonal.disabled {
  background-color: var(--btn-tonal-bg-disabled);
  color: var(--btn-tonal-txt-disabled);
}
.btn--type-elevated {
  background-color: var(--btn-elevated-bg);
  color: var(--btn-elevated-txt);
}
.btn--type-elevated:hover {
  background-color: var(--btn-elevated-bg-hover);
  color: var(--btn-elevated-txt);
}
.btn--type-elevated:focus {
  background-color: var(--btn-elevated-bg-focused);
  color: var(--btn-elevated-txt);
}
.btn--type-elevated:active {
  background-color: var(--btn-elevated-bg-pressed);
  color: var(--btn-elevated-txt);
}
.btn--type-elevated.disabled {
  background-color: var(--btn-elevated-bg-disabled);
  color: var(--btn-elevated-txt-disabled);
}

@media (prefers-color-scheme: dark) {
  .btn:hover {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  .btn--type-elevated {
    box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.15), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
  }
  .btn--type-elevated:hover {
    box-shadow: 0 0.125rem 0.375rem 0.125rem rgba(0, 0, 0, 0.15), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
  }
  .btn--type-elevated:focus {
    box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.15), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
  }
  .btn--type-elevated:active {
    box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.15), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
  }
}
@media (prefers-color-scheme: light) {
  .btn:hover {
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.3), 0 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.15);
  }
  .btn--type-elevated {
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.3), 0 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.15);
  }
  .btn--type-elevated:hover {
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.3), 0 0.125rem 0.375rem 0.125rem rgba(0, 0, 0, 0.15);
  }
  .btn--type-elevated:focus {
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.3), 0 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.15);
  }
  .btn--type-elevated:active {
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.3), 0 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.15);
  }
}
header .wrapper {
  padding: 4rem 2rem;
  text-align: center;
}

main .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: stretch;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1.5rem;
}
main .subject::after {
  content: "교수님";
}