/* stylelint-disable selector-class-pattern */
@import "./theme.dark.css" (prefers-color-scheme: dark);
@import "./theme.light.css" (prefers-color-scheme: light);
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--txt);
  font-family: system-ui;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 87.5rem;
  margin-inline: auto;
}

.btn {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.625rem 1.5rem;
  transition: background-color 150ms ease-out, box-shadow 150ms ease-out, color 150ms ease-out;
  border-radius: 0.5rem;
  background-color: var(--btn-bg);
  color: var(--btn-txt);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center;
}
.btn:hover {
  background-color: var(--btn-bg-hover);
  color: var(--btn-txt-hover);
}
.btn:focus {
  background-color: var(--btn-bg-focused);
  color: var(--btn-txt-focused);
}
.btn:active {
  background-color: var(--btn-bg-pressed);
  color: var(--btn-txt-pressed);
}
.btn.disabled {
  background-color: var(--btn-bg-disabled);
  color: var(--btn-txt-disabled);
}

@media (prefers-color-scheme: dark) {
  .btn:hover {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
  }
}
@media (prefers-color-scheme: light) {
  .btn:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  }
}
.wrapper--title {
  padding: 4rem 2rem;
  text-align: center;
}